<div class="navigation">
    <div class="container">
        <div class="logo">
            <h2>logo</h2>
        </div>
        <div class="nav">
            <ul>
                <li>home</li>
                <li>hotels</li>
                <li>restaurants</li>
                <li>tours</li>
                <li>destinations</li>
                <li>activities</li>
                <li>contact</li>
            </ul> 
        </div>
        <div class="login-user">
            <p>{{name}} {{surname}}</p>
        </div>
    </div>
    <div class="container">
        <div class="discover">
            <h1>Discover the most engaging places</h1>

        </div>
    </div>
    <div class="container">
        <div class="search">
            <img src="../../assets/images/Vector.png" alt="">
            <p>Discover on 3D Globe</p>
        </div>

    </div>
    <div class="container">
        <div class="guest">
            <div class="first">
                <div class="left">
                    <img src="../../assets/images/locate.png" alt="">
                </div>
                <div class="in">
                    <p>Location</p>
                    <h3>Explore nearby destinations</h3>
                </div>
            </div>
            <div class="second">
                <div class="activiti">
                    <img src="../../assets/images/bike.png" alt="">
                </div>
                <div class="an">
                    <p>Activity</p>
                    <h3>All Activities</h3>
                </div>
            </div>
            <div class="second">
                <div class="activiti">
                    <img src="../../assets/images/calendar.png" alt="">
                </div>
                <div class="an">
                    <p>When</p>
                    <h3>Choose a Date</h3>
                </div>
            </div>
            <div class="second">
                <div class="activiti">
                    <img src="../../assets/images/personal.png" alt="">
                </div>
                <div class="an">
                    <p>Guests</p>
                    <h3>1 guest</h3>
                </div>
            </div>

        </div>
    </div>
</div>
<section class="container">
    <div class="pop">
        <h2>Popular Destinations</h2>
    </div>
    <div class="popular">
        <div class="sur">
            <img src="../../assets/images/pd1.png" alt="">
            <h3>Big Sur</h3>
            <p>California, USA</p>
        </div>
        <div class="sur">
            <img src="../../assets/images/pd2.png" alt="">
            <h3>Prescott</h3>
            <p>Arizona, USA</p>
        </div>
        <div class="sur">
            <img src="../../assets/images/pd3.png" alt="">
            <h3>Fort Mayers</h3>
            <p>Florida, USA</p>
        </div>
        <div class="sur">
            <img src="../../assets/images/pd4.png" alt="">
            <h3>Tucson</h3>
            <p>Arizona, USA</p>
        </div>
        <div class="sur">
            <img src="../../assets/images/pd5.png" alt="">
            <h3>St. Joseph</h3>
            <p>Michigan, USA</p>
        </div>

    </div>
</section>
<section class="container">
    <div class="and">
        <h2>Hotels and Restaurants</h2>
        <img src="../../assets/images/Icon right.png" alt="">
    </div>
    <div class="hotels">
        <div class="hotel">
            <img src="../../assets/images/hr1.png" alt="">
            <h3>Monastero Santa Rosa Hotel & Spa</h3>
            <div class="mapp">
                <img src="../../assets/images/mappp.png" alt="">
                <p>Salerno, Italy</p>
                <img class="www" src="../../assets/images/5www.png" alt="">
            </div>
        </div>
        <div class="hotel">
            <img src="../../assets/images/hr2.png" alt="">
            <h3>Monastero Santa Rosa Hotel & Spa</h3>
            <div class="mapp">
                <img src="../../assets/images/mappp.png" alt="">
                <p>Salerno, Italy</p>
                <img class="www" src="../../assets/images/3www.png" alt="">
            </div>
        </div>
        <div class="hotel">
            <img src="../../assets/images/hr3.png" alt="">
            <h3>Monastero Santa Rosa Hotel & Spa</h3>
            <div class="mapp">
                <img src="../../assets/images/mappp.png" alt="">
                <p>Salerno, Italy</p>
                <img class="www" src="../../assets/images/4www.png" alt="">
            </div>
        </div>

    </div>
</section>
<section class="container">
    <div class="travel">
        <h2>Travel Tips and Advice</h2>
        <img src="../../assets/images/Icon right.png" alt="">
    </div>
    <div class="all">
        <div class="tips">
            <img src="../../assets/images/travel1.png" alt="">
            <div class="down">
                <h3>East Village Ice Cream Crawl</h3>
                <p>We will stop at five different world-class ice cream shops on this 1.5 mile 1.5 hour tour. At each ice cream store we'll explore the story behind the business and see what <br>makes the ice cream unique as you savor every…</p>
                <div class="flex">
                    <div class="side">
                        <img src="../../assets/images/calllendarr.png" alt="">
                        <p>Today</p>
                    </div>
                    <div class="side">
                        <img src="../../assets/images/persoooo.png" alt="">
                        <p>Today</p>
                    </div>
                    <div class="side">
                        <img src="../../assets/images/comment.png" alt="">
                        <p>Today</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tips">
            <img src="../../assets/images/travel2.png" alt="">
            <div class="down">
                <h3>Brooklyn Bridge cinematic photo walk</h3>
                <p>This experience takes place at the Brooklyn Bridge Park and Brooklyn Bridge, but I’m always open to capture clients at different locations upon request for an additional charge. </p>
                <div class="flex">
                    <div class="side">
                        <img src="../../assets/images/calllendarr.png" alt="">
                        <p>Today</p>
                    </div>
                    <div class="side">
                        <img src="../../assets/images/persoooo.png" alt="">
                        <p>Today</p>
                    </div>
                    <div class="side">
                        <img src="../../assets/images/comment.png" alt="">
                        <p>Today</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="activ">
        <h2>Activities</h2>
        <img src="../../assets/images/Icon right.png" alt="">
    </div>
    <div class="activites">
        <div class="popular">
            <div class="sur">
                <img src="../../assets/images/activites1.png" alt="">
                <h3>Sailing</h3>
            </div>
            <div class="sur">
                <img src="../../assets/images/activites2.png" alt="">
                <h3>Climbing</h3>
            </div>
            <div class="sur">
                <img src="../../assets/images/activites3.png" alt="">
                <h3>Skiing</h3>
            </div>

    
        </div>
    </div>
</section>
<section class="container">
    <div class="about">
        <div class="aboutus">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse<br> a sapien justo. Nulla facilisis tristique imperdiet. Nullam a placerat<br> odio. Sed in ex augue. Aliquam porta consectetur lorem sit amet<br> ultrices. Class aptent taciti sociosqu ad litora torquent per conubia<br> nostra, per inceptos himenaeos.</p>
            <img class="imgg" src="../../assets/images/read more.png" alt="">
        </div>
        <div class="us">
            <img src="../../assets/images/about us.png" alt="">
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">
        <div class="display">
            <div class="foot">
                <h2>Logo</h2>
                <p>We always make our customers happy by providing<br> as many choises as possible</p>
                <div class="app">
                    <img src="../../assets/images/facebook.png" alt="">
                    <img src="../../assets/images/twiter.png" alt="">
                    <img src="../../assets/images/insta.png" alt="">
                </div>
            </div>
            <div class="abot">
                <h2>About</h2>
                <p>About Us</p>
                <p>Features</p>
                <p>News</p>
                <p>Menu</p>
            </div>
            <div class="abot">
                <h2>Company</h2>
                <p>Why 2rism</p>
                <p>Partner With Us</p>
                <p>FAQ</p>
                <p>Blog</p>
            </div>
            <div class="abot">
                <h2>Support</h2>
                <p>Account</p>
                <p>Support Center</p>
                <p>Feedback</p>
                <p>Contact Us</p>
            </div>
            <div class="end">
                <h2>Subscribe on our destination review<br> newsletters</h2>

            </div>
        </div>
    </div>
</section>
<button (click)="logout()">Log Out</button>    
